@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-muted: var(--muted);
}

:root {
  --radius: 0.625rem;

  /* Palette */
  --white: #dee2e6;
  --black: #000000;
  --orange: #e36414;
  --violet-blue: #1847c9;
  --royal-blue: #0a1f6b;
  --red: #d70040;

  /* Essentials only */
  --background: var(--white);
  --foreground: var(--black);
  --primary: var(--violet-blue);
  --accent: var(--orange);
  --border: var(--violet-blue);
  --hover: var(--royal-blue);
  --destructive: var(--red);
  --ring: var(--violet-blue);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Noto Sans', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

@layer utilities {
  .yellowtail-regular {
    font-family: 'Yellowtail', cursive;
  }
}
